<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8" />

</head>
<body>
<p th:text="'안녕하세요. ' + ${name}" > 안녕하세요 손님</p>
<form action="/login"  method="get">
    <div class="form-group">
        <button type="submit" class="btn btn-primary">logout</button>
    </div>
</form>
<!--<script>
  window.onload = function() {
    const token = localStorage.getItem('authToken');
    if (token) {
      fetch('/api/verifyToken', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'Authorization': 'Bearer ' + token
        }
      })
      .then(response => response.json())
      .then(data => {
        if (!data.valid) {
          window.location.href = '/login'; // 토큰이 유효하지 않으면 로그인 페이지로 리다이렉트
        }
      });
    } else {
      window.location.href = '/login'; // 토큰이 없으면 로그인 페이지로 리다이렉트
    }
  }
</script>-->
</body>
</html>