<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .form-inline {
      display: flex;
      align-items: center;
    }
    .sns-buttons {
      margin-left: 20px;
    }
    .sns-buttons img {
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
  </style>
</head>
<body>
<div class="container">
  <h2 class="mt-5">Login</h2>
  <form action="#" th:action="@{/custlogin}" method="get">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" name="id" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" class="form-control" required>
    </div>
    <div class="form-inline">
      <button type="submit" class="btn btn-primary">Login</button>
      <div class="sns-buttons" onclick="dokakaologin()">
        <!--<a href="/login/kakao">-->
          <img src="/images/kakao.png" alt="Kakao Login">
        <!--</a>-->
      </div>
    </div>
    <div th:if="${message}">
      <div class="alert alert-success" role="alert" th:text="${message}"></div>
    </div>
    <div th:if="${error}">
      <div class="alert alert-danger" role="alert" th:text="${error}"></div>
    </div>
  </form>
  <form action="/joinpage" method="get">
    <div class="form-group">
      <button type="submit" class="btn btn-primary">회원가입</button>
    </div>
  </form>
</div>
<script>
  function dokakaologin() {
      const url = 'https://kauth.kakao.com/oauth/authorize?client_id=' +
        'cfffb1896b0309d7bf30e8155a4f1110' +
        '&redirect_uri=' +
        'http://localhost:8080/kakao-login' +
        '&response_type=code&' +
        'scope= profile_nickname';

      window.location.href = url;
  }

</script>
</body>
</html>